@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background: #e0dddd;
}

a {
  text-decoration: none;
  color: #00bbff;
}

* {
  box-sizing: border-box;
}
